/* Importa las fuentes si es necesario */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.Inicio {
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: rgb(255, 255, 255);
}
