@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/login_users.jpg') 
    no-repeat;
    background-size: 100% 99%;
    background-position: center;
}

.wrapper-02{
    width: 620px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 10px 30px;
}

.wrapper-02 h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-02 .input-box-02{
    position: relative;
    width: 100%;
    height: 39px;
    margin: 10px 0;
}

.input-box-02 input{
    width: 100%;
    height: 60%;
    background: transparent;
    border: 2px solid rgba(16, 16, 16, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px ;
}

.input-box-02 input::placeholder {
    color: #000000;
}

.input-box-02 .icon{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}


.wrapper-02 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #000000;
    margin-right: 4px;
}

.remember-forgot a {
    color: #000000;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-02 button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:  16px;
    color: #333;
    font-weight: 700;
}


.wrapper-02 .register-link-02{
    font-size: 14.5px;
    text-align: center;
    margin: 15px;
}

.wrapper-02 .register-link-02 p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.wrapper-02 .register-link-02 p a:hover{
    text-decoration: underline;
}